[Unit]
Description=Run EQ Bot Watchdog every 30 seconds
Requires=eqbot-watchdog.service

[Timer]
OnBootSec=60
OnUnitActiveSec=30
AccuracySec=5

[Install]
WantedBy=timers.target